<h3> Welcome to your online Diary </h3>

<h2> Here you can input an entry </h2>

<form action='/view_diary_entries' method='post'>
  <input type='text' name='content' >
  <input type='submit' value='Submit'>
</form>